:root {
  --left-profile-background-color:#fff;
  --left-profile-padding:1rem;
  --left-profile-radius:1rem;

}

.main-left {
  position:sticky;
  height: 100vh;
  min-width: 200px;
  overflow-x: hidden;
  top: -1rem;
}

.main-left h2 {
   font-size: 0.9 rem;
}


.main-left .profile {
   display: flex;
   align-items: center;
   padding: var(--left-profile-padding);
   background-color: var(--left-profile-background-color);
   border-radius: var(--left-profile-radius);
   column-gap: 1rem;
   margin-bottom: 1rem;
   width:100%;
}

.main-left .profile p {
  font-size: 0.7rem;
}

.main-left .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: var(--left-profile-padding),0;
}
